<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
    <div *ngIf="searchForm?.get('dateOfBirth')?.invalid && searchForm?.get('dateOfBirth')?.touched">
      Date of birth is required.
    </div>
  </div>

<div>
  <label for="ssn">Social Security Number /last 4 digits/ :</label>
  <input type="text" formControlName="ssn" placeholder="0000">
  <div *ngIf="searchForm?.get('ssn')?.invalid && (searchForm?.get('ssn')?.dirty || searchForm?.get('ssn')?.touched)">
    <small *ngIf="searchForm?.get('ssn')?.errors?.['required']">Social Security Number is required.</small>
    <small *ngIf="searchForm?.get('ssn')?.errors?.['minlength']">Social Security Number must be at least 4 characters.</small>
    <small *ngIf="searchForm?.get('ssn')?.errors?.['maxlength']">Social Security Number must be max 4 characters.</small>
    <small *ngIf="searchForm?.get('ssn')?.errors?.['pattern']">
      Invalid SSN format.
    </small>
  </div>
</div>
    <br>
    <button type="submit"  class="primary" [disabled]="!searchForm.valid" 
    [ngClass]="{'disabled-class': !searchForm.valid}">Search</button>
  </form>