<main class="main">

 

<div class="content">
<div class="left-side">


  <div style="margin-bottom: 20px; text-align: center;">
    <h3>Search Form:</h3>

  </div>

    <app-search></app-search>
  </div>

  <div class="divider" role="separator" aria-label="Divider"></div>
  <div class="right-side">

    <div *ngIf="state.isLoading">Loading...</div>
    
    <section class="results">
      <!---
      <app-search-result
        *ngFor="let customer of customersList"
          [customer]="customer">
      </app-search-result>
    -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
      
        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="ssn">
          <th mat-header-cell *matHeaderCellDef> SSN </th>
          <td mat-cell *matCellDef="let element"> {{element.ssn | ssnLastFour}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">    <a mat-flat-button (click)="onDeleteClick(element.id)">Delete</a> </td>
        </ng-container>
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
    </section>
    
  </div>

</div>

</main>